<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title th:text="${title}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>


<h1 class="text-center mt-5">Welcome</h1>
<h1 class="text-center" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<br><br><br><br>

<button class="button w-1 btn btn-lg btn-primary text-center" type="button" value="show"
        onclick="window.location.href = 'index'">View all users
</button>


<footer th:insert="blocks/footer :: footer"></footer>

</body>
<style type="text/css">
    .button {
        margin: auto;
        display: block;
    }
</style>
</html>