<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Список покупок</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" >

</script>

<script type="text/javascript">
  ((function($){
    $.fn.checkboxTable = function() {
      target = this;

      // click on checkbox in head table.
      $(target).on('click', 'thead :checkbox', function() {
        var check = this;
        $(this).parents('table').find('tbody :checkbox').each(function(){
          if ($(check).is(':checked')) {
            $(this).prop('checked', true);
            $(this).parents('tr').addClass('selected');
          } else {
            $(this).prop('checked', false);
            $(this).parents('tr').removeClass('selected');
          }
        });
      });

      // click on checkbox in line table.
      $(target).on('click', 'tbody :checkbox', function() {
        var parents = $(this).parents('table');
        if ($(this).is(':checked')) {
          $(this).parents('tr').addClass('selected');
          $(parents).find('thead :checkbox').prop('checked', true);
        } else {
          $(this).parents('tr').removeClass('selected');
          if ($(parents).find('tbody :checkbox:checked').length == 0) {
            $(parents).find('thead :checkbox').prop('checked', false);
          }
        }
      });

      // click on line table
      $(target).on('click', 'tbody tr', function(event) {
        if (event.target.tagName == 'TH' || event.target.tagName == 'TD'){
          $(this).find(':checkbox').trigger('click');
        }
      });
    };
  })(jQuery));
</script>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <form th:action="'/users/deleteall' " method="post">
    <button class="btn btn-warning" type="submit">Delete All</button>
  </form>

  <form th:action="'/oops' " method="get">
    <button class="btn btn-warning" type="submit">Unblock All</button>
  </form>

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Block</a>
      <a class="dropdown-item" href="#">Block</a>
    </div>
  </div>
</div>


<h2>Show all Users</h2>


<table class="table table-striped">
  <thead>
  <tr><!-- line table -->
    <th style="text-align:center"><input type="checkbox"></th><!-- head table -->>
    <th>Id</th><!-- head table -->>
    <th>Name</th><!-- head table -->
    <th>Email</th><!-- head table -->
    <th>Login</th><!-- head table -->
    <th>Password</th><!-- head table -->
    <th>Registration</th><!-- head table -->
    <th>lastlogin</th><!-- head table -->
    <th>Status</th><!-- head table -->
  </tr>
  </thead>
  <tbody class="alert alert-info mt-2">

  <div th:each="el: ${peoples}" >
    <tr><!-- line table  -->
      <td style="text-align:center;"><input type="checkbox" th:value="${el.id}"></td>
      <td><p th:text="${el.id}"/></td> <!-- cell table -->
      <td><p th:text="${el.name}"/></td> <!-- cell table -->
      <td><p th:text="${el.email}"/></td> <!-- cell table -->
      <td><p th:text="${el.user.username}"/></td> <!-- cell table -->
      <td><p th:text="${el.user.password}"/></td> <!-- cell table -->
      <td><p th:text="${el.registration}"/></td> <!-- cell table -->
      <td><p th:text="${el.lastLogin}"/></td> <!-- cell table -->
      <td><p th:text="${el.status}"/></td> <!-- cell table -->
      <td>
        <form th:action="'/users/' + ${el.id} +'/delete' " method="post" >
          <button class="btn btn-outline-danger" type="submit">Удалить</button>
        </form>
        <br>
        <form th:action="'/users/deleteall' " method="post">
          <button class="btn btn-outline-danger" type="submit">Удалить всех</button>
        </form>
      </td>
    </tr>
  </div>

  </tbody>
</table>
<script>
  $('.table').checkboxTable();
</script>

<br>

<input class="btn btn-primary" type="button" value="Add New User" onclick="window.location.href = 'register'">


<footer th:insert="blocks/footer :: footer"></footer>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>