<!doctype html>
<html lang="en">
<head>

    <links-header th:insert="blocks/links-header :: links-header"></links-header>

    <title th:text="${title}"/>

    <style type="text/css">
        .body {
            background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614609786_140-p-kartinki-dlya-fotoshopa-fon-201.jpg);
            text-align: center;
        }

        .form {
            display: inline-block;
        }


    </style>
</head>

<body class="body" style="background-color: #030203">


<div class="form mt-5">
    <div class="row py-2 mt-5">
        <div class="col-12 mt-5">
            <form th:action="@{/authenticateTheUser}" method="post">
                <div class="form-group">
                    <label for="username" class="fw-weight-bold text-white">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="Enter username">
                    <small class="fw-weight-bold form-text text-danger ">fail username or password</small>
                </div>
                <div class="form-group">
                    <label for="password" class="fw-weight-bold text-white">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Enter password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <br><br>
                <a class="px-3 text-white" th:href="@{/register}">Registration</a>
            </form>
        </div>
    </div>
</div>


<footer th:insert="blocks/footer :: footer"></footer>
</body>

</html>