<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <links-header th:insert="blocks/links-header :: links-header"></links-header>
</head>
<!--<body bgcolor="#000" background="star-sky.jpeg">-->
<body>
    <header th:insert="blocks/header :: header"></header>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        ((function ($) {
            $.fn.checkboxTable = function () {
                target = this;

                // click on checkbox in head table.
                $(target).on('click', 'thead :checkbox', function () {
                    var check = this;
                    $(this).parents('table').find('tbody :checkbox').each(function () {
                        if ($(check).is(':checked')) {
                            $(this).prop('checked', true);
                            $(this).parents('tr').addClass('selected');
                        } else {
                            $(this).prop('checked', false);
                            $(this).parents('tr').removeClass('selected');
                        }
                    });
                });

                // click on checkbox in line table.
                $(target).on('click', 'tbody :checkbox', function () {
                    var parents = $(this).parents('table');
                    if ($(this).is(':checked')) {
                        $(this).parents('tr').addClass('selected');
                        $(parents).find('thead :checkbox').prop('checked', true);
                    } else {
                        $(this).parents('tr').removeClass('selected');
                        if ($(parents).find('tbody :checkbox:checked').length == 0) {
                            $(parents).find('thead :checkbox').prop('checked', false);
                        }
                    }
                });

                // click on line table
                $(target).on('click', 'tbody tr', function (event) {
                    if (event.target.tagName == 'TH' || event.target.tagName == 'TD') {
                        $(this).find(':checkbox').trigger('click');
                    }
                });
            };
        })(jQuery));
    </script>

    <h2 class="ml-5 mt-2 md-5">Show all Users</h2>

    <form th:action="@{/user-target}" name="isCheckedTable" >

        <div class="btn-group dropup ml-3 mt-5 md-1">
            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
            </button>
            <div class="dropdown-menu">
                <button  name="delete" value="true" class="button btn btn-dark mt-1 md-1" type="submit">Delete on target</button>
                <button  name="block" value="true" class="button btn btn-dark mt-1 md-1" type="submit">Block by target</button>
                <button  name="unblock" value="true" class="button btn btn-dark mt-1 md-1" type="submit">Unblock by target</button>
            </div>
        </div>

        <table class="table table-bordered ml-3">
            <thead>
                <tr><!-- line table -->
                    <th class="btn-check"><input th:name="allCheckbox"  type="checkbox"></th><!-- head table -->
                    <th>Id</th><!-- head table -->
                    <th>Name</th><!-- head table -->
                    <th>Email</th><!-- head table -->
                    <th>Login</th><!-- head table -->
                    <th>Registration</th><!-- head table -->
                    <th>Last Login</th><!-- head table -->
                    <th>Active</th><!-- head table -->
                </tr>
            </thead>
            <tbody>
                <div th:each="el:${peoples}">
                    <tr><!-- line table  -->
                        <td class="btn-check"><input th:type="checkbox" name="isChecked"  th:attr="value =${el.id}"></td>
                        <td><p th:text="${el.id}"/></td> <!-- cell table -->
                        <td><p th:text="${el.name}"/></td> <!-- cell table -->
                        <td><p th:text="${el.email}"/></td> <!-- cell table -->
                        <td><p th:text="${el.user.username}"/></td> <!-- cell table -->
                        <td><p th:text="${el.registration}"/></td> <!-- cell table -->
                        <td><p th:text="${el.lastLogin}"/></td> <!-- cell table -->
                        <td><p th:text="${el.user.isActive()}"/></td> <!-- cell table -->
                        <td>
                            <form th:action="'/users/' + ${el.id} +'/delete' " method="post">
                                <button class="btn btn-secondary" type="submit">Delete</button>
                            </form>
                            <form th:action="'/users/unblocked/' + ${el.id} " method="get">
                                <button class="btn btn-secondary mt-1" type="submit">Unblocked/Blocked</button>
                            </form>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </form>

    <script>
        $('.table').checkboxTable();
    </script>
    <br>
    <input class="btn btn-dark ml-3" type="button" value="Add New User" onclick="window.location.href = 'register'">

    <footer th:insert="blocks/footer :: footer"></footer>
</body>
<style type="text/css">
    .button {
        margin: auto;
        display: block;
    }
</style>
</html>