<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">WebSite</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <a class="btn btn-outline-success my-2 mr-2 my-sm-0" href="/">Главная</a>
            <a class="btn btn-outline-success my-2 mr-2 my-sm-0" href="/register">Добавить пользователя</a>
            <form class="form-inline my-2 my-lg-0" method="post">
                <a class="btn btn-outline-success my-2 mr-2 my-sm-0" href="/users/deleteall">Удалить ВСЕХ
                    пользователей</a>
            </form>
            <div class="form-inline my-2 my-lg-0">
                <a class="btn btn-outline-success my-2 mr-2 my-sm-0"  method="post"
                   href="/users/blocked">Заблокировать ВСЕХ пользователей</a>
            </div>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <button class="btn btn-outline-success my-2 my-sm-0">Выйти</button>
            </form>
        </div>
    </nav>
</div>

